.cart1 {
    display: block;

    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        z-index: 107;
        background-color: #fcfcfc;
        opacity: 0.7;
        transition: opacity .4s cubic-bezier(.165,.85,.45,1);
        -moz-transition: opacity .4s cubic-bezier(.165,.85,.45,1);
        -webkit-transition: opacity .4s cubic-bezier(.165,.85,.45,1);
        -o-transition: opacity .4s cubic-bezier(.165,.85,.45,1);
        
    }
    &__wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 375px;
        height: 100vh;
        display: flex;
        flex-direction: column;
        z-index: 114;
        background-color: #fcfcfc;
        border-left: 1px solid #f6f6f6;
        opacity: 1;
        // transform: translateX(100) scaleX(0);

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 28px 28px 14px;
            height: fit-content;

            h6 {
                font-size: 1.2rem;
                text-transform: uppercase;
                letter-spacing: .5px;
                font-weight: 600;
            }

            i {
                cursor: pointer;
            }
        }
        &__content {
            overflow-y: scroll;
            padding: 14px 14px 49px;
            margin-bottom: 21px;
            &__list {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    padding: 14px;
                }

                &__link {
                    text-decoration: none;
                    color: inherit;
                    &:hover {
                        color: inherit;
                    }

                    &__item {
                        display: grid;
                        grid-template-columns: 55% 45%;
                        position: relative;

                        i {
                            position: absolute;
                        }

                        &__image {
                            padding: 0 14px 0 0;
                            img  {
                                object-fit: scale-down;
                                object-position: center;
                                width: -webkit-fill-available;
                            }
                        }
                        &__info {
                            padding: 0 0 0 14px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;

                            h6 {
                                text-transform: uppercase;
                                padding-bottom: 14px;
                                margin: 0;
                                font-weight: 600;
                                letter-spacing: 0.5px;
                            }
                            &__price {
                                padding-bottom: 14px;

                                span {
                                    font-size: .8rem;
                                    font-weight: 500;
                                    color: #8a8a8a;
                                }
                            }
                            &__quantity {
                                padding-bottom: 14px;
                                &__decrement, &__increment {
                                    cursor: pointer;
                                    transition: all .4s cubic-bezier(.165,.85,.45,1);
                                    -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
                                    -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
                                    -o-transition: all .4s cubic-bezier(.165,.85,.45,1);

                                    &:hover {
                                        background-color: #222;
                                        color: #fcfcfc;
                                    }
                                }
                                span {
                                    display: inline-flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 32px;
                                    height: 32px;
                                    border: 1px solid #222;
                                    font-size: .9rem;
                                    font-weight: 600;
                                    line-height: 1;

                                    &:nth-of-type(1), &:nth-of-type(2) {
                                        border-right: none;
                                    }
                                }
                            }
                        }
                        &__delete {

                            i {
                                cursor: pointer;
                                transition: all .4s cubic-bezier(.165,.85,.45,1);
                                -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
                                -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
                                -o-transition: all .4s cubic-bezier(.165,.85,.45,1);

                                &:hover {
                                    color: red;
                                }
                            }
                        }
                    }
                }
            }
        }
        &__footer {
            padding: 28px 28px 14px;
            background-color: #d3c5be;
            height: fit-content;
            &__subtotal {
                display: flex;
                flex-direction: row;
                width: 100%;
                justify-content: space-between;
                align-items: center;
                padding-bottom: 18px;
                &__title {
                    text-transform: uppercase;
                    font-size: 0.85rem;
                    font-weight: 500;
                    letter-spacing: 1px;
                }
                &__amount {
                    font-size: 0.95rem;
                    font-weight: 600;
                    letter-spacing: 1px;
                }
            }
            &__checkout {
                background-color: #222;
                color: #fcfcfc;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 14px;
                cursor: pointer;

                &__btn {
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    font-size: 0.9rem;
                    font-weight: 500;
                }
            }
        }
    }
}

// Media Queries

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .cart1 {
        &__wrapper {
            width: 100vw;
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }