.collection1 {
    padding: 49px 0px;
    &__collection-item {
    }
    &__product-image {
        height: 350px;
        background: transparent;
        border: 1px solid #222;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
            max-width: 70%;
            position: absolute;
            object-fit: cover;
            object-position: center;
            transition: all .4s cubic-bezier(.165,.85,.45,1);
            -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
        }
        &:hover {
            cursor: pointer;
            .collection1__front-img {
                opacity: 0;
            }
            .collection1__back-img {
                opacity: 1;
            }
            .collection1__heart {
                opacity: 1;
            }
        }
    }
    &__front-img {
        opacity: 1;
    }
    &__back-img {
        opacity: 0;
    }
    &__product-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        position: relative;
        padding: 14px 7px;
    }
    &__product-name {
        font-weight: 600;
        color: #222;
        letter-spacing: 1px;
        font-family: 'Poppins', sans-serif;
        padding-bottom: 7px;
    }
    &__product-price {
        font-size: 14px;
        color: #222;
        font-weight: 600;
        letter-spacing: 0.5px;
    }
    &__heart {
        position: absolute;
        opacity: 0;
        right: 18px;
        top: 18px;
        color: #222;
        cursor: pointer;
        transition: all .4s cubic-bezier(.165,.85,.45,1);
        -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
        -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
        -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
        &:hover {
            transform: scale(1.05);
            color: #fd6166;
        }
    }
}