.twocolumn {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 14px;
    padding-bottom: 42px;
    
    &__imagewrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            object-fit: contain;
            object-position: center;
        }
    }
    &__infowrapper {
        &__content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            height: 100%;
            &__title {
                font-size: 2.5rem;
                line-height: 2;
                letter-spacing: 1px;
                font-weight: 700;
                text-transform: uppercase;
                text-align: justify;
                text-align-last: justify;
            }
            &__text {
                text-align: justify;
                text-align-last: justify;
                font-weight: 300;
                line-height: 2;
            }
        }
    }
}

// Media Queries

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .twocolumn {
        grid-template-columns: 100%;

        &__infowrapper {
            &__content {
                &__title {
                    font-size: 2rem;
                }
            }
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }