.sectiontitle {
    padding-top: 35px;
    .aligned-left {
        text-align: left;
    }
    .aligned-center {
        text-align: center;
    }
    .aligned-right {
        text-align: right;
    }
}