.productmain1 {
    display: grid;
    -webkit-grid-gap: 3.1875rem;
    -moz-grid-gap: 3.1875rem;
    grid-gap: 3.1875rem;
    grid-template-columns: 60% auto;
    padding-bottom: 35px;
    grid-template-rows: repeat(1,1fr);

    &__thumbnail {
        width: 120px;
        
        img {
            object-position: center;
            object-fit: contain;
            width: -webkit-fill-available;
        }
        &__item {
            padding-bottom: 14px;
        }
    }
    &__images {
        display: flex;
        flex-direction: row;
        -webkit-grid-gap: 1.5rem;
        -moz-grid-gap: 1.5rem;
        grid-gap: 1.5rem;

    }
    &__feature {
        width: -webkit-fill-available;
        height: fit-content;

        &:focus, &:focus-visible, &:focus-within {
            outline: none;
            box-shadow: none;
            border: none;
        }

        &__item {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 100%;
                object-position: center;
                object-fit: contain;
                height: fit-content;
            }
        }
    }
    &__details {
        &__title {
            text-transform: uppercase;
            font-weight: 800;
            font-size: 2.8rem;
            line-height: 1;
        }
        &__price {
            font-weight: 800;
            font-size: 1.4rem;
        }
        &__ratings {
            margin: 1.4rem 0;
            i {
                margin-right: 4px;
            }
        }
        &__quantity{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            font-weight: 600;
            padding: 2.1rem 0px;

            span {
                border: 2px solid #212529;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 14px;
                font-weight: 600;
            }
            &__amount {
                width: 150px;
                border: 2px solid #212529;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 14px;
                font-weight: 600;
                text-align: center;
                /* Chrome, Safari, Edge, Opera */
                appearance: none;
                /* Firefox */
                -moz-appearance: textfield;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    /* Chrome, Safari, Edge, Opera */
                    -webkit-appearance: none;
                }
            }
            &__plus, &__minus {
                cursor: pointer;
                border: 2px solid #212529;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 14px;
                font-weight: 600;
            }
        }

        .shopify-payment-button {

            &__button {
                text-transform: uppercase;
                border-radius: 0px;
                box-shadow: none;
                font-size: inherit;
                font-weight: inherit;
            }
            &__button--button--unbranded {
                background-color: #fcfcfc;
                padding: 0.7rem;
                border: 2px solid #212529;
                color: #212529;

                &:hover {
                    background-color: #d3c5be;
                    border: 2px solid #d3c5be;
                    color: #fcfcfc;
                }
            }

        }

        &__addToCart {
            width: -webkit-fill-available;
            display: grid;
            grid-gap: 14px;
            grid-template-columns: auto 40px;
            grid-template-rows: 40px;
            padding-top: .7rem;
            margin-bottom: 1rem;

            &__button {
                padding: 1rem;
                box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
                background-color: #212529;
                color: #fcfcfc;
                text-transform: uppercase;
                transition: all .4s cubic-bezier(.165,.85,.45,1);
                -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
                -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
                -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                border: none;
                &:hover {
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                    background-color: #fcfcfc;
                    color: #212529;
                }
            }
        }
        &__addToWishlist__button {
            box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
            color: #212529;
            transition: all .4s cubic-bezier(.165,.85,.45,1);
            -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            &:hover {
                box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
                color: #fd6166
            }
        }
        &__accordion {
            padding: 2.1rem 0;

            &__description, &__extrainfo {
                padding: 0.9rem;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                border-bottom: 1.5px solid #776969;
                &__button {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    cursor: pointer;
                    &__title {
                        text-transform: uppercase;
                        letter-spacing: 1px;
                        font-weight: 500;
                        font-size: 0.85rem;
                        display: flex;
                        align-items: center;
                    }
                }
            }
        }
    }
}

// Media Queries

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .productmain1 {
        grid-template-columns: 1fr;

        &__thumbnail {
            display: none;
        }
        &__feature {
            height: -webkit-fill-available;
            max-width: 300px;
            width: 100%;

            &__item {
                min-height: 100%;
            }
        }
        &__details {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__quantity {
                justify-content: center;

                span {
                    &:last-of-type {
                        margin: 0;
                    }
                }
            }

            &__accordion {
                width: -webkit-fill-available;
            }
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    .productmain1 {
        grid-template-columns: 1fr;

        &__thumbnail {
            display: none;
        }
        &__feature {
            height: -webkit-fill-available;
            max-width: 600px;
            width: 100%;

            &__item {
                min-height: 100%;
            }
        }
        &__details {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__quantity {
                justify-content: center;

                span {
                    &:last-of-type {
                        margin: 0;
                    }
                }
            }

            &__accordion {
                width: -webkit-fill-available;
            }
        }
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    .productmain1 {
        grid-template-columns: 1fr;

        &__thumbnail {
            display: none;
        }
        &__feature {
            height: -webkit-fill-available;
            max-width: 900px;
            width: 100%;

            &__item {
                min-height: 100%;
            }
        }
        &__details {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__quantity {
                justify-content: center;

                span {
                    &:last-of-type {
                        margin: 0;
                    }
                }
            }

            &__accordion {
                width: -webkit-fill-available;
            }
        }
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }