.header3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    
    &__header-main {
        background: #fcfcfc;
        display: flex;
        flex-direction: row;
        padding: 18px 70px;
        justify-content: space-between;
        width: -webkit-fill-available;
        .nav-logo {
            display: flex;
            flex: 1;
            flex-direction: row;
            align-items: center;
            .logo-wrapper {
                display: flex;
                align-items: center;
                a {
                    color: #222;
                    font-family: 'Playfair Display', serif;
                    font-size: 30px;
                }
            }
            .navigation-wrapper {
                padding: 14px 0px 14px 56px;
                width: -webkit-fill-available;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                a {
                    text-decoration: none;
                    color: #222;
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                    margin-right: 28px;
                    &:last-of-type {
                        margin-right: 0;
                    }
                    // &:hover {
                    //     color: #FBD786;
                    // }
                }
            }
        }
        
        
        .user-wrapper {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            .search-wrapper {
                border: 1px solid #d8d8d8;
                position: relative;
                display: flex;
                width: 100%;
                height: 36px;
                justify-content: space-between;
                align-items: center;
                padding: 4px 7px 4px 12px;
                max-width: 285px;
                min-width: 155px;
                input {
                    border: none;
                    outline: none;
                    width: -webkit-fill-available;
                    &::placeholder {
                        color: #d9d9d9;
                        letter-spacing: 1px;
                        text-transform: capitalize;
                      }
                }
                i {
                    position: absolute;
                    top: 4px;
                    right: 12px;
                    color: #636363;
                    font-size: 24px;
                    -webkit-text-stroke: 2px #fcfcfc;
                }
            }
            a {
                font-size: 12px;
                color: #222;
                padding-left: 28px;
                font-weight: 600;
                letter-spacing: 1.5px;
                &:first-of-type {
                    padding-left: 35px;
                }
            }
        }
        a {
            text-decoration: none;
        }
    }
    &__expanding-link {
        display: inline-block;
        position: relative;
        &:hover {
            .header3__sub-links {
                opacity: 1;
                visibility: visible;
                z-index: 3;
            }
        }
    }
    &__sub-links {
        position: absolute;
        background: #fcfcfc;
        color: #222;
        min-width: 150px;
        left: 0;
        opacity: 0;
        padding: 20px;
        visibility: hidden;
        transition: all .4s cubic-bezier(.165,.85,.45,1);
        -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
        -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
        -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
        li {
            padding: 7px 0;
            a {
                font-size: .9rem;
                color:#222;
            }
        }
    }
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) { 
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }