.customerinfo1 {
    background-color: #fcfcfc;
    margin-top: 7px;
    margin-left: 3vw;
    padding: 21px 42px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__title {
        min-width: 320px;
        font-size: 1.5rem;
    }
    &__name {
        padding-right: 7vw;
    }
    &__name, &__email {
        display: flex;
        flex-direction: column;

        &__label {
            font-weight: 600;
            padding-bottom: 14px;
        }
    }
}

// Media Queries

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .customerinfo1 {
        flex-direction: column;
        margin: 0;
        padding: 21px 28px;

        &__title {
            min-width: 0;
            margin-bottom: 17px;
            font-size: 1rem;
        }

        &__name {
            margin-bottom: 14px;
            font-size: 0.9rem;
            &__label {
                padding-bottom: 7px;
            }
        }
        &__email {
            font-size: 0.9rem;
            &__label {
                padding-bottom: 7px;
            }
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }