.customerinfo1 {
    background-color: #fcfcfc;
    margin-top: 7px;
    margin-left: 3vw;
    padding: 28px 42px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__title {
        min-width: 320px;
        font-size: 1.85rem;
    }
    &__name {
        padding-right: 7vw;
    }
    &__name, &__email {
        display: flex;
        flex-direction: column;

        &__label {
            font-weight: 600;
            padding-bottom: 14px;
        }
    }
}