.header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fcfcfc;
    padding-bottom: 1rem;
    font-family: sans-serif;
    z-index: 100;
    width: -webkit-fill-available;
    transition: all .4s cubic-bezier(.165,.85,.45,1);
    -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
    -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
    -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
    position: relative;
    
    &__header-main {
        display: flex;
        flex-direction: row;
        padding: 0rem 4rem 2rem;
        justify-content: space-between;
        align-items: center;
        width: -webkit-fill-available;
        .logo-wrapper {
            display: flex;
            align-items: center;
            a {
                color: #222;
                font-family: 'Playfair Display', serif;
                font-size: 30px;
            }
        }
        .search-wrapper {
            border: 1px solid #d8d8d8;
            display: flex;
            width: 100%;
            height: fit-content;
            justify-content: space-between;
            align-items: center;
            padding: 14px 14px 14px 21px;
            margin: 0 auto;
            max-width: 570px;
            min-width: 310px;
            input {
                border: none;
                outline: none;
                width: -webkit-fill-available;
                background: transparent;
                &::placeholder {
                    color: #d9d9d9;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                  }
            }
            i {
                color: #d8d8d8;
                font-size: 24px;
                -webkit-text-stroke: 2px transparent;
            }
        }
        .user-wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            .cart-btn {
                width: 32px;
                height: 32px;
                background: transparent;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .search {
                display: none;
                .search-btn {
                    color: #222;
                    width: 32px;
                    height: 32px;
                    background: transparent;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 28px;
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                }
                .search-box {
                    height: 32px;
                }
            }
            a {
                font-size: 19px;
                color: #222;
                &:first-of-type {        
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                    margin-right: 28px;
                }
            }
        }
        a {
            text-decoration: none;
        }
    }
    &__menu-toggle-wrapper {
        display: none;
    }
    &__navigation {
        padding: 0 56px 14px 56px;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
        margin: 0;
        li {
            margin-right: 28px;
            display: flex;
            align-items: center;
            a {
                text-decoration: none;
                color: #222;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1.5px;
            }
            &:last-of-type {
                margin-right: 0;
            }
            &:hover {
                color: #222;
            }
        }
    }
    &__expanding-link {
        display: flex;
        align-items: center;
        margin-right: 28px;
        position: relative;
        &:hover {
            .header1__sub-links {
                opacity: 1;
                visibility: visible;
            }
        }
    }
    &__sub-links {
        position: absolute;
        background: #fcfcfc;
        color: #222;
        min-width: 150px;
        top: 100%;
        left: -20px;
        opacity: 0;
        padding: 20px;
        visibility: hidden;
        transition: all .4s cubic-bezier(.165,.85,.45,1);
        -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
        -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
        -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
        li {
            a {
                text-transform: uppercase;
                font-size: .9rem;
                color:#222;
            }
        }
    }
}
/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .header1 {
        padding-bottom: 0;
        &__header-main {
            padding: 14px 1.4rem;
            .header1__menu-toggle-wrapper {
                flex: 1;
                display: flex;
                position: relative;
                flex-direction: column;
                height: 21px;
                justify-content: space-between;
                .menu-toggle {
                    width: 28px;
                    height: 21px;
                    position: absolute;
                    cursor: pointer;
                    opacity: 0; /* hide this */
                    z-index: 2; /* and place it over the hamburger */
                    -webkit-touch-callout: none;
                    &:checked ~ .header1__mobile-navigation {
                        visibility: visible;
                        transform: scaleX(1);
                        opacity: 1;
                    }
                    &:checked ~ span {
                        opacity: 1;
                        transform: rotate(-45deg) translate(5px, 18px);
                        background: #222;
                        right: 26%;
                    }
                    &:checked ~ span:nth-last-child(3) {
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }
                    &:checked ~ span:nth-last-child(2) {
                        transform: rotate(45deg) translate(0, -29px);
                    }
                }
                span {
                    display: block;
                    width: 28px;
                    height: 2px;
                    position: relative;
                    background: #222;
                    border-radius: 1px;
                    z-index: 1;
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                opacity 0.55s ease;
                        &:first-child {
                            transform-origin: 0% 0%;;
                        }
                        &:nth-last-child(2) {
                            transform-origin: 0% 100%;;
                        }
                }
                .header1__mobile-navigation {
                    width: 100vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    position: absolute;
                    left: -2rem;
                    top: calc(100% + 2px);
                    height: 100vh;
                    padding: 14px 56px 14px 56px;
                    background: #fcfcfc;
                    visibility: hidden;
                    opacity: 0;
                    transform: scaleX(0);
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                opacity 0.55s ease;
                    .header1__expanding-link {
                        margin: 0;
                        a {
                            width: 100%;
                        }
                    }
                    .header1__sub-links {
                        width: 100%;
                        padding: 7px 0 7px 14px;
                        left: 0px;
                        li {
                            width: 100%;
                            a {
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                    a {
                        padding: 7px 0;
                        font-size: .9rem;
                        margin: 0;
                        border-bottom: 1px solid #222;
                        text-decoration: none;
                        color: #222;
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: 1.5px;
                        width: 100%;
                        display: block;
                        &:hover {
                            color: #222;
                        }
                    }
                }
            }
            .account-btn {
                display: none;
            }
            .search-wrapper {
                display: none;
            }
            .logo-wrapper {
                flex: 1;
                justify-content: center;
            }
            .user-wrapper {
                flex: 1;
                .search {
                    display: flex;
                    position: relative;
                    .checkbox {
                        display: block;
                        width: 32px;
                        height: 32px;
                        position: absolute;
                        cursor: pointer;
                        opacity: 0; /* hide this */
                        z-index: 2; /* and place it over the hamburger */
                        -webkit-touch-callout: none;
                        &:checked ~ .search-btn {
                            background: #d3c5be;
                        }
                        &:checked ~ .search-box {
                            transform: scaleX(1);
                            opacity: 1;
                        }
                    }

                    .search-btn {
                        margin: 0;
                    }
                    .search-box {
                        position: absolute;
                        width: 50vw;
                        right: calc(100% + 2px);
                        opacity: 0;
                        border: none;
                        outline: none;
                        border-bottom: 2px solid#d3c5be;
                        color: #222;
                        background: #fcfcfc;
                        list-style-type: none;
                        -webkit-font-smoothing: antialiased;
                        transform-origin: 100% 0%;
                        transform: scaleX(0);
                        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                    }
                }
            }
        }
        &__navigation {
            display: none;
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    .header1 {
        &__header-main {
            padding: 14px 2rem;
            .menu-toggle-wrapper {
                flex: 1;
                display: block;
                position: relative;
                .menu-toggle {
                    width: 40px;
                    height: 32px;
                    position: absolute;
                    cursor: pointer;
                    opacity: 0; /* hide this */
                    z-index: 2; /* and place it over the hamburger */
                    -webkit-touch-callout: none;
                    &:checked ~ ,.header1__mobile-navigation {
                        visibility: visible;
                        transform: scaleX(1);
                        opacity: 1;
                    }
                    &:checked ~ span {
                        opacity: 1;
                        transform: rotate(-45deg) translate(0px, 8px);
                        background: #222;
                    }
                    &:checked ~ span:nth-last-child(3) {
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }
                    &:checked ~ span:nth-last-child(2) {
                        transform: rotate(45deg) translate(0, -10px);
                    }
                }
                span {
                    display: block;
                    width: 33px;
                    height: 3px;
                    margin-bottom: 5px;
                    position: relative;
                    background: #222;
                    border-radius: 1px;
                    z-index: 1;
                    transform-origin: 4px 0px;
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                opacity 0.55s ease;
                        &:first-child {
                            transform-origin: 0% 0%;;
                        }
                        &:nth-last-child(2) {
                            transform-origin: 0% 100%;;
                        }
                }
                .header1__mobile-navigation {
                    width: 100vw;
                    flex-direction: column;
                    justify-content: flex-start;
                    position: absolute;
                    left: -2rem;
                    top: calc(100% + 2px);
                    height: 100vh;
                    padding: 14px 56px 14px 56px;
                    background: #fcfcfc;
                    visibility: hidden;
                    opacity: 0;
                    transform: scaleX(0);
                    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                                opacity 0.55s ease;
                    .header1__expanding-link {
                        margin: 0;
                        a {
                            width: 100%;
                        }
                    }
                    .header1__sub-links {
                        width: 100%;
                        padding: 7px 0 7px 14px;
                        left: 0px;
                        li {
                            width: 100%;
                            a {
                                width: 100%;
                                display: block;
                            }
                        }
                    }
                    a {
                        padding: 7px 0;
                        font-size: .9rem;
                        margin: 0;
                        border-bottom: 1px solid #222;
                        text-decoration: none;
                        color: #222;
                        font-size: 12px;
                        font-weight: 600;
                        letter-spacing: 1.5px;
                        width: 100%;
                        display: block;
                        &:hover {
                            color: #222;
                        }
                    }
                }
            }
            .account-btn {
                display: none;
            }
            .search-wrapper {
                display: none;
            }
            .logo-wrapper {
                flex: 1;
                justify-content: flex-start;
            }
            .user-wrapper {
                flex: 1;
                .search {
                    display: flex;
                    position: relative;
                    .checkbox {
                        display: block;
                        width: 40px;
                        height: 32px;
                        position: absolute;
                        right: 28px;
                        cursor: pointer;
                        opacity: 0; /* hide this */
                        z-index: 2; /* and place it over the hamburger */
                        -webkit-touch-callout: none;
                        &:checked ~ .search-btn {
                            background: #d3c5be;
                        }
                        &:checked ~ .search-box {
                            transform: scaleX(1);
                            opacity: 1;
                        }
                    }
                    .search-btn {
                        margin: 0;
                    }
                    .search-box {
                        position: absolute;
                        width: 50vw;
                        right: calc(100% + 2px);
                        opacity: 0;
                        border: none;
                        outline: none;
                        border-bottom: 2px solid#d3c5be;
                        color: #222;
                        background: #fcfcfc;
                        list-style-type: none;
                        -webkit-font-smoothing: antialiased;
                        transform-origin: 100% 0%;
                        transform: scaleX(0);
                        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                    }
                }
            }
        }
        &__navigation {
            display: none;
        }
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    .header1 {
        &__header-main {
            .search-wrapper {
                display: none;
            }
            .logo-wrapper {
                flex: 1;
            }
            .user-wrapper {
                flex: 2;
                .search {
                    display: flex;
                    position: relative;
                    .checkbox {
                        display: block;
                        width: 40px;
                        height: 32px;
                        position: absolute;
                        right: 28px;
                        cursor: pointer;
                        opacity: 0; /* hide this */
                        z-index: 2; /* and place it over the hamburger */
                        -webkit-touch-callout: none;
                        &:checked ~ .search-btn {
                            background: #d3c5be;
                        }
                        &:checked ~ .search-box {
                            transform: scaleX(1);
                            opacity: 1;
                        }
                    }
                    .search-box {
                        position: absolute;
                        width: 50vw;
                        right: calc(100% + 2px);
                        opacity: 0;
                        border: none;
                        outline: none;
                        border-bottom: 2px solid#d3c5be;
                        color: #222;
                        list-style-type: none;
                        -webkit-font-smoothing: antialiased;
                        transform-origin: 100% 0%;
                        transform: scaleX(0);
                        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                    }
                }
            }
        }
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    .header1 {
        &__header-main {
            .search-wrapper {
                display: none;
            }
            .logo-wrapper {
                flex: 1;
            }
            .user-wrapper {
                flex: 2;
                .search {
                    display: flex;
                    position: relative;
                    .checkbox {
                        display: block;
                        width: 40px;
                        height: 32px;
                        position: absolute;
                        right: 28px;
                        cursor: pointer;
                        opacity: 0; /* hide this */
                        z-index: 2; /* and place it over the hamburger */
                        -webkit-touch-callout: none;
                        &:checked ~ .search-btn {
                            background: #d3c5be;
                        }
                        &:checked ~ .search-box {
                            transform: scaleX(1);
                            opacity: 1;
                        }
                    }
                    .search-box {
                        position: absolute;
                        width: 50vw;
                        right: calc(100% + 2px);
                        opacity: 0;
                        border: none;
                        outline: none;
                        border-bottom: 2px solid#d3c5be;
                        color: #222;
                        background: #fcfcfc;
                        list-style-type: none;
                        -webkit-font-smoothing: antialiased;
                        transform-origin: 100% 0%;
                        transform: scaleX(0);
                        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
                    }
                }
            }
        }
    }
 }
