.header1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    &__promotion-banner {
        background: #d3c5be;
        color: #fcfcfc;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        span {
            display: block;
            text-transform: uppercase;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1px;
        }
    }
    &__header-main {
        background: #fcfcfc;
        display: flex;
        flex-direction: row;
        padding: 18px 70px;
        justify-content: space-between;
        align-items: center;
        width: -webkit-fill-available;
        .logo-wrapper {
            display: flex;
            align-items: center;
            a {
                color: #222;
                font-family: 'Playfair Display', serif;
                font-size: 30px;
            }
        }
        .search-wrapper {
            border: 1px solid #d8d8d8;
            display: flex;
            width: 100%;
            height: 36px;
            justify-content: space-between;
            align-items: center;
            padding: 4px 7px 4px 21px;
            margin: 0 auto;
            max-width: 570px;
            min-width: 310px;
            input {
                border: none;
                outline: none;
                width: -webkit-fill-available;
                &::placeholder {
                    color: #d9d9d9;
                    letter-spacing: 1px;
                  }
            }
            i {
                color: #636363;
                font-size: 24px;
                -webkit-text-stroke: 2px #fcfcfc;
            }
        }
        .user-wrapper {
            display: flex;
            align-items: center;
            a {
                font-size: 19px;
                color: #222;
                &:first-of-type {        
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 1.5px;
                    margin-right: 28px;
                }
            }
        }
        a {
            text-decoration: none;
        }
    }
    &__navigation {
        padding: 0 56px 14px 56px;
        background: #fcfcfc;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
        a {
            text-decoration: none;
            color: #222;
            font-size: 12px;
            font-weight: 600;
            letter-spacing: 1.5px;
            margin-right: 28px;
            &:last-of-type {
                margin-right: 0;
            }
            // &:hover {
            //     color: #FBD786;
            // }
        }
    }
}