.footer-bar {
    background:#544F4C;
    color: #fcfcfc;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 70px;

    &__logo {
        flex: 1;
        a {
            color: #D3C5BE;
            font-family: 'Playfair Display', serif;
            font-size: 26px;
            text-decoration: none;
            transition: all .4s cubic-bezier(.165,.85,.45,1);
            -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
            &:hover {
                color: #BAAEA8;
            }
        }
    }
    &__copyright {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        span {
            color:#D3C5BE;
            font-weight: 300;
            font-size: 12px;
            letter-spacing: 1px;
        }
    }
}
.footer {
    background: #d3c5be;
    padding: 50px 0;
    &__links {
        display: flex;
        flex-direction: column;
    }
    &__column-title {
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1.5px;
        font-size: .9rem;
        color: #544F4C;
        padding-bottom: 21px;
    }
    
    &__link {
        width: fit-content;
        text-decoration: none;
        color: #544F4C;
        font-weight: 400;
        font-size: .95rem;
        letter-spacing: .5px;
        line-height: 1.5;
        padding-bottom: 7px;
        transition: all .4s cubic-bezier(.165,.85,.45,1);
        -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
        -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
        -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
        &:hover {
            color: #fcfcfc;
            cursor: pointer;
        }
    }
    &__paragraph {
        font-size: .8rem;
        color: #544F4C;
        margin-top: 21px;
        margin-bottom: 7px;
        font-weight: 400;
        letter-spacing: .5px;
    }
    &__email-input {
        position: relative;
        width: 100%;
        padding-bottom: 21px;
        input {
            width: 100%;
            background: transparent;
            outline: none;
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 2px solid #544F4C;
            padding: 8px 0;
            color: #544F4C;
            font-size: .95rem;
            &::placeholder {
                font-size: .8rem;
            }
        }
        &__icon {
            color: #544F4C;
            position: absolute;
            top: 7px;
            right: 0;
            transition: all .4s cubic-bezier(.165,.85,.45,1);
            -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
            &:hover {
                color: #fcfcfc;
                cursor: pointer;
            }
        }
    }
    &__social-icons {
        &__icon {
            text-decoration: none;
            color: #544F4C;
            padding-right: 21px;
            transition: all .4s cubic-bezier(.165,.85,.45,1);
            -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -o-transition: all .4s cubic-bezier(.165,.85,.45,1);
            &:hover {
                color: #fcfcfc;
                cursor: pointer;
            }
        }
    }
}
/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .footer {
        padding: 35px 1.4rem;
        &__links {
            height: fit-content;
            width: 100%;
            position: relative;
            padding: 14px 0;
            border-bottom: 1px solid #544F4C;

        }
        &__checkbox {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 40px;
            opacity: 0;
            -webkit-touch-callout: none;
            top: 0;
            left: 0;
            z-index: 7;
            &:checked ~ .footer__menu-links-wrapper {
                visibility: visible;
                opacity: 1;
                transform: scaleY(1);
                position: relative;
            }
        }
        &__column-title {
            padding: 0;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &__newsletter {
                margin-top: 28px;
            }
        }
        &__menu-links-wrapper {
            display: flex;
            flex-direction: column;
            background-color: #D3C5BE;
            transform: scaleY(0);
            visibility: hidden;
            opacity: 0;
            position: absolute;
            top: 100%;
            margin-top: 7px;
            width: 100%;
            height: auto;
            z-index: 9;
            transform-origin: 0% 0%;
            transition: transform 0.1s cubic-bezier(0.77,0.2,0.05,1.0),
                        background 0.3s cubic-bezier(0.77,0.2,0.05,1.0),
                        opacity 0.1s ease;
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }