.header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: sans-serif;
    
    &__header-main {
        background: #fcfcfc;
        display: flex;
        flex-direction: row;
        padding: 18px 70px;
        justify-content: space-between;
        width: -webkit-fill-available;
        .navigation-wrapper {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            a {
                text-decoration: none;
                color: #222;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 1.5px;
                margin-right: 28px;
                // &:hover {
                //     color: #FBD786;
                // }
            }
        }
        .logo-wrapper {
            display: flex;
            flex: 1;
            justify-content: center;
            align-items: center;
            a {
                color: #222;
                font-size: 30px;
                font-family: 'Playfair Display', serif;
            }
        }
        .user-wrapper {
            display: flex;
            flex: 1;
            justify-content: flex-end;
            align-items: center;
            a {
                font-size: 19px;
                color: #222;
                padding-left: 28px;
                i {
                    // -webkit-text-stroke: 1px #222;
                }
            }
        }
        a {
            text-decoration: none;
        }
    }
    
}

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) { 
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }