.collage1 {
    padding: 35px 0;
    &__grid {
        display: grid;
        grid-gap: 7px;
        grid-template-columns: auto auto auto auto;
        &__item {
            width: 100%;
            min-width: 0;
        }
    }
    &__item-overlay {
        position: absolute;
        background-color: rgba(255, 255, 255, 0.4);
        color: #222;
        z-index: 2;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transition: all 0.1s cubic-bezier(.165,.85,.45,1);
        -moz-transition: all 0.1s cubic-bezier(.165,.85,.45,1);
        -webkit-transition: all 0.1s cubic-bezier(.165,.85,.45,1);
        -o-transition: all 0.1s cubic-bezier(.165,.85,.45,1);
    }
    &__product-link {
        width: 100%;
        display: flex;
        position: relative;
        &:hover {
            .collage1__item-overlay {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    &__bgd-img {
        object-fit: cover;
        object-position: center;
        width: -webkit-fill-available;
    }
    &__insta-logo {
        margin-bottom: 21px;
        i {
            font-size: 1.8rem;
        }
    }
    &__item-btn {
        background-color: #fcfcfc;
        padding: 12px 21px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        &:hover {
            background-color: #222;
            color: #fcfcfc;
        }
    }
}

// Media Queries

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .collage1 {

        &__grid {
            grid-template-columns: auto auto;
        }
        &__insta-logo {
            i {
                font-size: 1.4rem;
            }
        }
        &__item-btn {
            font-size: 1rem;
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    .collage1 {
        
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    .collage1 {
        
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }