.searchresultspanel {
    background-color: #d3c5be;
    padding: 35px;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #fcfcfc;
    margin: 0 auto;

    span {
        font-weight: 500;
        font-size: 1.2rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-bottom: 7px;
    }

    h1{
        font-weight: 700;
        font-size: 2.1rem;
        text-transform: uppercase;
    }
}

// Media Queries

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .searchresultspanel {
        padding: 21px;

        span {
            font-size: 1rem;
        }
        h1 {
            font-size: 1.9rem;
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }