.addresses1 {
    margin-top: 21px;
    margin-left: 3vw;
    padding: 21px 42px;
    background-color: #fcfcfc;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    &__title {
        min-width: 320px;

        &__text {
            line-height: 1;
            padding-bottom: 21px;
            font-size: 1.5rem;
        }
        &__link {
            color: #212529;
            letter-spacing: .5px;
            text-decoration: none;
            border-bottom: 1px solid #212529;
            padding-bottom: 7px;
            transition: all .4s cubic-bezier(.165,.85,.45,1);
            -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
            -o-transition: all .4s cubic-bezier(.165,.85,.45,1);

            &:hover {
                color: #212529;
                transform: scale(1.05);
            }
        }
    }

    &__latest {
        display: flex;
        flex-direction: column;
        span {
            padding-bottom: 7px;
        }
    }
}

// Media Queries

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .addresses1 {
        flex-direction: column;
        padding: 21px 28px;
        margin-left: 0;
        
        &__title {
            min-width: 0;

            &__text {
                font-size: 1rem;
            }

            &__link {
                display: none;
            }
        }

        &__latest {
            margin-bottom: 14px;
            font-size: 0.9rem;
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    .addresses1 {
        flex-direction: column;
        padding: 21px 28px;
        margin-left: 0;
        
        &__title {
            min-width: 0;

            &__text {
                font-size: 1rem;
            }

            &__link {
                display: none;
            }
        }

        &__latest {
            margin-bottom: 14px;
            font-size: 0.9rem;
        }
    }
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    .addresses1 {
        flex-direction: column;
        padding: 21px 28px;
        margin-left: 0;
        
        &__title {
            min-width: 0;

            &__text {
                font-size: 1rem;
            }

            &__link {
                display: none;
            }
        }

        &__latest {
            margin-bottom: 14px;
            font-size: 0.9rem;
        }
    }
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }