@use './reset';
@use '../components/components';
@use '../styles/bootstrap/scss/bootstrap';

body {
  background: #f1f1f1;
}
.dashboard {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding: 35px 1.5vw;
}
.accountpagemain {
  width: 100%;
  padding: 0 4vw;
  height: 100%;
}
.orderpagemain {
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
  width: 100%;
  height: 100%;
}

.addressList {
  overflow-y: scroll;
  padding: 0 14px 14px 0;
  height: 80%;
  
  &::-webkit-scrollbar {
    width: 4px;
  }
  &::-webkit-scrollbar-track {
    background: #d3c5be;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #afa39d;
    border-radius: 0px;
    border: 0px;
  }
}

.fixed-nav {
  .header {
    position: sticky;
  }
}

.transparent-nav {
  .header {
    background-color: transparent;
    position: fixed;
  }
}

// Media Queries

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
  .dashboard {
    width: -webkit-fill-available;
    padding-top: 21px;
  }
  .accountpagemain {
    overflow-y: scroll;

  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
  
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
  
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
  
}