@use './reset';
@use '../components/components';
@use '../styles/bootstrap/scss/bootstrap';

body {
  background: #f1f1f1;
}

.fixed-nav {
  .header {
    position: fixed;
  }
}

.transparent-nav {
  .header {
    background-color: transparent;
  }
}

