.activationmain {
    padding: 21vh 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .activationForm {
        display: flex;
        flex-direction: column;
        align-items: center;

        form {
            width: 100%;
        }

        &__passwords {
            display: flex;
            flex-direction: column;

            input {
                border: 1px solid #d8d8d8;
                padding: 14px 14px 14px 21px;
                margin: 0 auto;
                outline: none;
                width: -webkit-fill-available;
                &::placeholder {
                    color: #d9d9d9;
                    letter-spacing: 1px;
                    text-transform: capitalize;
                  }
                &:last-of-type {
                    margin: 21px 0;
                }
            }
        }
        &__submit {
            display: flex;
            flex-direction: row;

            input {
                flex: 1;
                padding: 12px;
                margin: 7px 14px;
                font-weight: 500;
                letter-spacing: .5px;
                font-size: 0.9rem;
                transition: all .4s cubic-bezier(.165,.85,.45,1);
                -moz-transition: all .4s cubic-bezier(.165,.85,.45,1);
                -webkit-transition: all .4s cubic-bezier(.165,.85,.45,1);
                -o-transition: all .4s cubic-bezier(.165,.85,.45,1);

                &:hover {
                    transform: scale(1.02);
                }
                &:first-of-type {
                    background-color:#d3c5be;
                    border: 2px solid #d3c5be;
                    color: #f1f1f1;
                }
                &:last-of-type {
                    border: 2px solid #d3c5be;
                }
            }
        }
    }
}

// Media Queries

/*  X-Small devices (portrait phones, less than 576px) */
@media (min-width: 300px) and (max-width: 575.98px) {
    .activationmain {

        .activationForm {

            width: 100%;

            p {
                text-align: justify;
            }

            &__submit {
                flex-direction: column;
            }
        }
    }
}

/* // Small devices (landscape phones, less than 768px) */
@media (min-width: 577px) and (max-width: 767.98px) { 
    
}

/* // Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) { 
    
}

/* // Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) { 
    
 }